:root {
  --primary-color: #6048b1;
  --primary-btn: #59b188;
}

/* header */
.header {
  position: sticky;
  top: 0px;
  z-index: 100;
  background: #fff;
}
li.page {
  font-family: "Inter", "Arial", "sans-serif", sans-serif;
}
li.page::after {
  content: " ";
  height: 3px;
  width: 0px;
  display: block;
  background-color: black;
  transition: width 0.25s linear;
}

li.page:hover::after {
  width: 100%;
  background-color: var(--primary-color);
}

li.page:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.icon-watch {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.right .menu {
  display: none;
}
.center {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .center {
    flex-direction: column;
  }
  .right .search {
    display: none;
  }

  .right .menu {
    display: block;
  }

  li.page {
    width: 100%;
    padding: 10px 50px;
  }

  li.page::after {
    display: none;
  }

  li.page:not(:last-child) {
    border-bottom: #7d817f solid 1px;
    margin-bottom: -1px;
  }

  .center {
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
    width: 90vw;
    margin: auto;
    top: 7vh;
  }
}

@media screen and (max-width: 500px) {
  .center {
    top: 100px;
  }
}

/*  */
.carousel {
  width: 100%;
  height: 80vh;
}
.carousel .carousel-img {
  height: 80vh;
  width: 100vw;
}

@media screen and (max-width: 1024px) {
  .carousel {
    height: 40vh;
  }
  .carousel .carousel-img {
    height: 40vh;
  }
}

/* Introduce */

.introduce h1 {
  max-width: 750px;
  line-height: 1.2em;
}
.introduce .description {
  max-width: 600px;
}

.info-icon {
  width: 60px;
  height: 60px;
  color: var(--primary-color);
}

/* Button */

.btn-primary {
  background-color: var(--primary-btn);
  color: #fff;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--primary-color);
}

.btn-more {
  background-color: #fff;
  color: var(--primary-color);
  outline: var(--primary-color) solid 2px;
}

.btn-more:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* Services */
.prefix-title {
  color: var(--primary-color);
}

.prefix-title::before {
  content: " ";
  height: 2px;
  width: 20px;
  margin-bottom: 5px;
  background-color: var(--primary-color);
  display: inline-block;
  margin-right: 10px;
}

.services .left {
  max-width: 400px;
}

.primary-service {
  max-height: 286px;
  max-width: 300px;
  background-color: var(--primary-color);
}

.second-service {
  background-color: #fff;
  outline: #6048b1 solid 1px;
  box-shadow: 10px 8px rgba(193, 193, 195, 0.4);
}

@media screen and (max-width: 800px) {
  .primary-service {
    max-width: 100%;
  }
}

.none-block {
  height: 40px;
}

.icon-service {
  height: 80px;
  width: 80px;
}

/* Projects */

.projects {
  background-color: #fbf7ff;
}

.project-info {
  width: 550px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .project-info {
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .project-info {
    width: 300px;
  }
}

.image-content {
  position: absolute;
  top: 0px;
  background-color: rgba(193, 193, 195, 0.6);
  height: 100%;
  width: 100%;
  display: none;
}

.project-info:hover .image-content {
  display: block;
}

.image-content .buttons {
  height: 100%;
}

.image-project {
  width: 100%;
  transition: transform 0.4s ease;
  transform-origin: 50% 50%;
}

.project-info:hover .image-project {
  transform: scale(1.3);
}
/* Customer reviews */

.none-block-customer {
  height: 360px;
  position: absolute;
  top: -80px;
  width: 350px;
  background-color: var(--primary-color);
  opacity: 0.1;
}

.customer-review {
  position: relative;
}
.review-content {
  box-shadow: 10px 8px rgba(228, 228, 228, 0.4);
  width: 450px;
  /* outline: #6048b1 solid 1px; */
}

.column {
  width: 2px;
  height: 50px;
  background-color: var(--primary-btn);
}

.text-change {
  color: var(--primary-btn);
}

/* Footer */

.footer {
  background-image: url(https://preview.treethemes.com/nyssa/demo1-clean/wp-content/uploads/sites/2/2023/01/nyssa_footerdark.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.footer-icon {
  height: 80px;
  width: 80px;
}

.dn {
  display: none !important;
}

/* Search bar */

.search-bar {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100vw;
  background-color: #fff;
  z-index: 101;
}

input {
  display: block;
  outline: none;
  border: none;
  height: 2em;
  font-size: 16px;
  margin-bottom: 1px;
  border-bottom: 1px solid #333;
}

input:focus {
  border-bottom: 1px solid #0572ce;
  box-shadow: 0 1px 0 0 #0572ce !important;
}

.close-search {
  position: absolute;
  top: 0px;
  right: 20px;
}

.close-icon {
  height: 60px;
  width: 50px;
}

.search-bar:not(.dn) {
  animation-name: search-bar;
  animation-duration: 0.75s;
}

@keyframes search-bar {
  from {
    height: 0vh;
  }
}
